* {
  margin: 0;
}

html {
  background-color: #D9C9C7;
  ;
}

.searchBottom{
  cursor: pointer;
}

.navBody {
  display: flex;
  background-color: #F28627;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-items {
  align-items: center;
}


li {
  list-style: none;
}

.menuBody{
  background-color: #F28627;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.w-70 {
  width: 60%;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.w-full {
  width: 100%;
}

.w-30 {
  width: 40%;
}

nav {
  height: 80px;
}

.navDiv {
  padding: 10px;
}

input {
   width: 70%;
   background-color: #F2F2F2;
   border: none;
   height: 30px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}

#logo {
  width: 100%;
  height: 100%;
}

.bg-red-500 {
  background-color: red;
}


.bodySearch {
  background-color: #F28627;
  height: 30px;
border-top-right-radius: 10px;
  padding: 1px;
}

.iconSearch {
  width: 100%;
  height: 70%;
}

.h-4{
  height: 30px;
}

.justify-between {
  justify-content: space-between;
}

.p-x-10{
  padding-left: 20px;
  padding-right: 20px;
}

li {
  font-size: 21px;
  color: #404040;
  cursor: pointer;
}

li:hover {
  color: #A60808;
}

.header {
  background-color: red;
  height: 100vh;
  background-image: url("../assets/images/Panes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90%;
}

.headerOpacity{
  background-color: rgba(192, 156, 153, 0.46);
  width: 100%;
  height: 100%;
  display: flex;
}

.description {
  background-color: white;
  width: 30%;
  height: 86%;
  margin-top: 30px;
  margin-left: 30px;
  border-radius: 20px;
  padding: 20px;
}

h3 {
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: bold;
  text-align: center;
}

p{
  color: #404040;
  font-weight: 300;
  letter-spacing: 0.6px;
  font-size: 18px;
}

.button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 30px;
  border: none;
  background-color: #A60808;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #850606;
}

.titleProducts {
  background-color: white;
  padding: 5px 35px 5px 35px;
  border-radius: 8px;
  margin-top: 30px;
}


.card{
  width: 200px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  margin-right: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.card:hover{
  padding: 25px;
}

.imgCard {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.buttonCard {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 30px;
  border: none;
  background-color: #A60808;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.buttonCard:hover {
  background-color: #740505;
}

footer {
  background-color: #A60808;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonsocial{
  cursor: pointer;
}

.numberPhones {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}

.boxCard {
  display: flex;
  min-height: 90%;
  /* height: 100vh; */
}

.boxMenu {
  background-color: #D9C9C7;
  height: 90vh;
  width: 350px;
  padding: 20px;
  min-height: 90%;
}

.titleMenu {
  text-align: center;
  margin-bottom: 20px;
  color: #A60808;
  font-size: 30px;
}

.OptionMenu {
  font-size: 27px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-top: 8px;
}

/* .OptionMenu {
  background-color: red;
} */

.products {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-color: red;
  min-height: 90%;
  background-image: url("../assets/images/94688575_110007137358013_7310480275656409088_n.jpg");
}

.boxProducts {
  background-color: rgba(192, 156, 153, 0.46);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.boxCards {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.cardProducts {
  background-color: white;
  width: 100%;
  margin-right: 20px;
  height: 350px;
  padding: 5px;
  border-radius: 10px;
  transition: 0.5s;
}

.cardProducts:hover{
  padding: 10px;
}

.imgCardProduct {
  width: 100%;
  height: 125px;
  object-fit: cover;
}

.titleCardProduct{
  font-size: 18px;
  color: #bb0a0a;
  letter-spacing: 1.5px;
  margin-top: 10px;
}

.buttonProducts {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 30px;
  border: none;
  background-color: #A60808;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

span {
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:visited { 
  text-decoration: none; 
  color: #404040; 
 }
 

a:hover {
  border-bottom: 1px solid #850606;
  color: #850606;
}

.subMenuPanaderia {
  display: none;
}

.subMenuPanaderia:hover {
  display: block;
}

.panaderiaMenu {
  transition: 0.5s;
}

.panaderiaMenu:hover + ul {
  display: block;
}

.titleMenu h3 {
  font-size: 30px;
}

.floating-container {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 50px;
  cursor: pointer;
}

.floating-button {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgFab {
  width: 30px;
}